html,
body,
p {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}


.page {
  display: none;
}

.page.active {
  display: block;
}


body.not-authenticated .role-logged-in {
  display: none;
}

body.authenticated .role-logged-out {
  display: none;
}

.role-admin {
  display: none;
}

body.is-admin .role-admin {
  display: block;
}

.bg-cyan-100 {
  background-color: #b2ebf2 !important;
}

.bg-cyan-200 {
  background-color: #80deea !important;
}

.bg-cyan-300 {
  background-color: #6edff6 !important;
}